:root {
    --cor-positivo:   rgb(92, 252, 202);
    --cor-escuro:     rgb(33, 37, 41) ;
    --cor-negativo:   rgb(252, 84, 84);
    --cor-claro:      rgb(255, 255, 255);
    --cor-secundario: rgb(160, 178, 201);
    --cor-azul:       rgb(91, 161, 214);

    --cor-positivo-dec: 92, 252, 202;
    --cor-escuro-dec: 33, 37, 41;
    --cor-negativo-dec: 252, 84, 84;
    --cor-claro-dec: 255, 255, 255;
    --cor-secundario-dec: 160, 178, 201;
    --cor-azul-dec:91, 161, 214;

    /* variaveis banqs */
    --preto:url('./foto/preto.png');
    --branco:url('./foto/branco.png');
    --vermelho:url('./foto/vermelho.png');
    --amarelo:url('./foto/amarelo.png');
    --marrom:url('./foto/marrom.png');
    --jambo:url('./foto/jambo.png');
    --adega:url('./foto/adega.png');
    --pub:url('./foto/pub.png');
    --floral:url('./foto/floral.png');
    --mel:url('./foto/mel.png');
    --imbuia:url('./foto/imbuia.png');
    
}
*{
    font-family: consolas;
    border-radius: 5px;
    border: none;
    outline: none;
    color: var(--cor-escuro);
    /* transition: cubic-bezier(0.19, 1, 0.22, 1) 200ms; */
    font-family: 'Plus Jakarta Sans', sans-serif;
}


.background{
    width: 100vw;
    height: 100vh;
    backdrop-filter: grayscale(100%) blur(5px);
    position: fixed;
    z-index: 0;
    background-color: rgba(var(--cor-claro-dec),.8);
}
nav{
    width: 100vw;

    background-color: var(--cor-claro);
    border-bottom:solid 1px rgba(var(--cor-escuro-dec),.1);
    display: flex;
    justify-content:left;
    color: var(--cor-claro);
    height: 65px;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 0;
}
nav a{
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    display: block;
    text-align: center;
}
nav a label{
    padding: 5px;
    width: 100%;
    display: block;
    margin: 10px;
}
nav img{
    width: 50px;
    margin: 10px;
}
.active label{
    color: var(--cor-azul);
    cursor: pointer;

}
.navigator{
    display: flex;
    justify-content: space-between;
  
}
.no-active label{
    color: var(--cor-escuro);
    cursor: pointer;
}
#search{
    text-align: center;
    background-color: rgba(var(--cor-azul-dec),.1);
    margin-bottom: 3px;
    font-size: 17px;
    padding: 5px;
    color: var(--cor-escuro);
    margin-left: 10px;
}
#search::placeholder{
    color: var(--cor-secundario);
}
#userConfig{
    display: block;
    width: 40px;
    height: 40px; 
    background-size: contain;
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
    min-width: 40px;
}
.name-user-config{
    margin-top: 4px;
    font-weight: 600;
}
.email-user-config{
    opacity: .5;
}
.preview-user-config{
    width: 40px;
    height: 40px; 
    background-size: contain;

}
.sair-user-config{
    background-color: var(--cor-escuro);
    margin-top: 5px;
    color: var(--cor-claro);
    padding: 5px 10px;
    cursor: pointer;
    text-transform: capitalize;
}
.popup-user-config{
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    top: 10px;
    right: 10px;    
    margin: auto;
    width: fit-content;
    height: fit-content;
    background-color: rgba(var(--cor-claro-dec),3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:solid 1px rgba(var(--cor-escuro-dec),.1);
    color: var(--cor-escuro);

}
#erros{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 70px;
    width: 500px;
    margin: auto;
    left: 0;
    right: 0;

    text-align: center;
    z-index: 99;
    pointer-events: none;
}
#menu{
    display: none;
}
#erros div{
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1000ms;
    margin-top: 10px;
    padding: 5px 0;
    backdrop-filter: blur(10px);
}
.navigator-mobile{
    display: none;       
    
}
#menu #closeMenu .md.hydrated{
    color: rgba(var(--cor-escuro-dec),1);
    font-size:40px;
}
#menu .title {
    display: flex;
    align-items: center;
    justify-content:space-between;
}
#menu  h1{
    color: var(--cor-escuro);
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    margin:0 15px ;
 
}

@media only screen and (max-width: 600px) {
    .navigator-mobile{
        display: flex; 
        width: 100%;
        border-bottom: solid 1px rgba(var(--cor-escuro-dec),.1);
   
        padding-bottom: 5px;
        justify-content: space-around;
    }
    .navigator-mobile a{
        text-decoration: none;
        cursor: pointer;
        text-transform: capitalize;
    }
    .popup-user-config{
        width: 100vw ;
        display: flex;
        flex-direction: row;
        margin: auto;
        left: 0;
        right: 0;
        position: relative;
        justify-content: space-between;
        padding: 0;
        border-radius: 0;
        border: none;
    }
    
    .popup-user-config div{
        margin: 5px;
    }
    .email-user-config{
        font-size: 10px;
    }
    nav{
        border: none;
    }
    #userConfig{
        display: none;
    }
    .navigator{
        display: none;
    }
    #search{
        margin: auto;
    }
    #categorias{
        width: 70px;
    }
    #menu{
        pointer-events: none;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(100vw);
        width: 100vw;
        height: 100vh;
        z-index: 999;

    }
    #menu.active{
        pointer-events: all;
        display: block;
        transform: translateX(0vw);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        background-color: rgba(var(--cor-claro-dec),1);
        border-radius: 0;
    }
    #opts{
     
        width: calc(100% - 20px);
        margin: auto;
        margin-top: 20px;
    }
    #opts a{
        text-decoration: none;
    }
  }