#pendentes{
    overflow-y: auto;
    height: calc(100vh - 135px);
    width: 90%;
    scroll-behavior: smooth;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
.pendente{
    display: flex;
    border: solid 1px rgba(var(--cor-escuro-dec),.1);
    flex-grow: 1;
    width: 30%;
    max-width: 200px;
    height:fit-content;
    margin: 9px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.pendente-preview{
    height: 120px;
    min-width: 120px;
    background-repeat: noe;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
 

}
.pendente .estoque{
    background-color: rgba(var(--cor-escuro-dec),.05);
    padding: 3px;
    width: max-content;
    min-width: 130px;
    font-size: 15px;
}
.pendente-sku{
    font-size: 12px;
    margin: 5px;
}
.pendente-save{
    color: var(--cor-claro);
    background-color: var(--cor-azul);
    padding: 3px 13px;
    margin: 5px;
    text-transform: capitalize;
    cursor: pointer;
}
.removeButton{
    width:calc(100% - 34px);
    background-color: var(--cor-escuro);
    padding: 3px 13px;
    margin-bottom: 5px;
    text-transform: capitalize;
    cursor: pointer;

    color: var(--cor-positivo);
}
.removeButton:hover{
    color: var(--cor-negativo);
    outline: solid 1px ;
}
.controls_parent{
    display: flex;
    width:calc( 100% - 12px);
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    user-select: none;
}

.pendente-controls{
    display: flex;
    align-items: flex-end;
}
.pendente-controls div{
   

    width: 20px;
    text-align: center;
    font-size: 19px;
    margin: 3px;
    cursor: pointer;
    font-weight: 900px;
    display: flex;
    padding: 3px;
    background-color: var(--cor-escuro);
}
.pendente-controls div:active{
    transform: scale(.9);
}
.addPendDiv .md.hydrated{
    color: var(--cor-positivo);

}
.removePendDiv .md.hydrated{
    color: var(--cor-negativo);
   
}
.addPendDiv{
    color: var(--cor-positivo);
    
}

.removePendDiv{
    color: var(--cor-negativo);
   
}
